.imgs {
  margin: 10px auto;
  height: 80vh;
  width: 100vw;
  
  
}
.imgs img {
  height: 100%;
 width: 100%;
  object-fit: cover;
}

.description {
  margin:  80px 180px 100px 180px;

  .top {
    
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: rgb(77, 123, 239);
  }
  .top div{
    width: 35%;
    height: 2px;
    background-color: rgb(77, 123, 239);
    /* background-color: #fff; */
  }
  .top span{
    background-color: rgba(255,255, 255,0.8);
    padding: 5px 20px;
    border-radius: 10px;
    font-size: 35px;
    font-style: italic;
  }
  .bottom {
    color: rgb(60, 59, 59);
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 1px;
  }
  .bottom p {
    margin-bottom: 15px;
  }
}

.contact {
  margin: 10px 180px 20px 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 200px;

  
  .top{
    font-size: 30px;
    color: gray;
    font-style: italic;
  }
  .info ul{
    list-style: none;
    font-size: 18px;
    letter-spacing: 1px;
  }
  .info li {
    margin-bottom: 10px;
  }
}

.divider {
  position: absolute;
  top: 80px;
  height: 1px;
  width: 100%;
  background-color: rgb(77, 123, 239);
}

.about {
  margin: 10px 180px 20px 180px;
}